img{
    width: 100%;
    display: block;
}

#Girl{
    
    translate: 0px -5px;
    animation-name: girl-motion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}
@keyframes girl-motion{
    0%{
        translate: 0px 0px;
    }
    
    50%{
        translate: 0px -7px;
    }
    
    100%{
        translate: 0px 0px;
    }
}
/* hair g340,g156 */
#g340,#g344{   
    rotate: y 0deg;
    animation-name: hair-motion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    translate: 0px 0px ;
}
@keyframes hair-motion{
    0%{
        rotate: y 0deg;
        translate: 0px 0px ;
    }
    
    50%{
        translate: 9px -25px ;
        rotate: z 2.5deg;

    }
    
    100%{
        translate: 0px 0px ;
        rotate: y 0deg;
    }

}
/* scarf  g236*/
#g236,#g268,#g264,#g260,#g256,#g252,#g248,#g244,#g240
,#g220,#g216,#g212,#g208,#g204,#g200,#g196{
    rotate: y 0deg;
    transform-origin: 60% 33%;
    
    
    animation-name: scarf-motion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes scarf-motion{
    0%{
        transform: rotate(0deg);
    }
    
    50%{
        transform: rotate(5deg);
    }
    95%{
        transform: rotate(-0.2deg);
        
    }
    100%{
        transform: rotate(0deg);

    }
    
    
    
}

/* eye g316 g280 */
#g316, #g280{
    transform: skewX(1deg);
    animation-name: eye-motion;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes eye-motion{
    0%{
        transform: skewX(1deg);
    }
    
    50%{
        transform: skewX(0.5deg);

    }
    95%{
        transform: skew(1.2deg);        
    }
    100%{
        transform: skewX(1deg);

    }
    
    
    
}

/* -------------Virus--------------- */
#path216_2,#path216_3{
    transform: rotate(0deg);
    transform-origin: length;
    animation-name: virus-motion;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}
#path216_3{
    transform: rotate(190deg);
    transform-origin: 95% 20% ;
    animation-name: virus-motion;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}
@keyframes virus-motion{
    0%{
        transform: rotate(180deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(180deg);
        
    }
    
    
    
}